html {
    background-color: rgb(255, 255, 255);
}

body {
    text-align: center;
}

a {
    color:rgb(208, 170, 0);
}

h2 {
    color: rgb(255, 179, 0);   
}

h3 {
    color: rgb(0, 91, 12);
}

h1{
    color: rgb(255, 179, 0);
}

a {
    color: rgb(72, 132, 74);
}

form {
    text-align: right;
    color: rgb(72, 132, 74);
    font-style: italic;   
}


